* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

input, button, textarea {
  outline: none;
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 91.875rem;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}